:root {
  --personal-color-1: #32ad36; /*GENERAL COLOR*/
  --personal-color-1-1: #292c2c;
  --personal-color-1-1-1: #1de4a1;

  --personal-color-2: #808080;
  --personal-color-3: #121212; /* BG COLOR*/
  --personal-color-3-3: #ffffff07;
  --personal-color-4: #ffffff; /* WHITE*/
  --personal-color-5: #ffffff1a;
  --personal-color-6: #252725;
  --personal-color-7: #e3edf7;
  --personal-color-8: #f84b68;
  --gradient: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  color: var(--personal-color-1);
}
html {
  zoom: 85%;
}
body {
  background: var(--personal-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.com-screen {
  scroll-behavior: smooth;
  scrollbar-color: red black;
  scrollbar-width: none;
  max-width: 1400px;
  width: 100%;
  height: 700px;
  background-color: var(--personal-color-3);
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 20px solid var(--personal-color-6);
  border-right: 20px solid var(--personal-color-6);
  border-left: 20px solid var(--personal-color-6);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section {
  /* height: 700px; */
  padding: 40px 40px 0;
}
section.progress {
  padding: 40px 0 0;
}
nav {
  max-width: 1400px;
  width: 100%;
  padding: 0 40px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  /* background-color: #ffffff38; */
  z-index: 2;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0;
  margin-right: 20px;
}
.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: #0af312;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
.side-bar {
  position: fixed;
  background-color: var(--personal-color-1-1);
  top: 0;
  right: -300px;
  width: 300px;
  height: 1200px;
  display: flex;
  align-items: center;

  z-index: 1;
  flex-direction: column;
  /* border-radius: var(--pixel-radius); */
  transition: right 0.3s ease;
}
.side-bar h3,
.side-bar a,
.side-bar i {
  color: var(--personal-color-4);
}
.side-bar.show {
  right: 0; /* Slide in from the left when .show class is applied */
}
.sidebar-nav {
  margin-top: 50px;
}
.sidebar-nav ul {
  flex-direction: column;
}
.sidebar-nav ul li {
  padding: 10px;
  letter-spacing: 2px;
}
.sidebar-logo {
  margin-top: 100px;
  height: 130px;
  width: 130px;
  background-color: #fff;
  border-radius: 20px;
  border: 8px solid var(--personal-color-8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sidebar-logo img {
  width: 200px;
}
.side-bar h3 {
  margin-top: 10px;
}
.sidebar-socials {
  margin-top: 20px;
  gap: 1rem;
  display: flex;
}
.sidebar-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: var(--personal-color-3);
  border-radius: 5px;
  transition: 0.2s;
}
.sidebar-social-icons:hover {
  background-color: var(--personal-color-1-1-1);
}
.dropdown {
}
.dropbtn a {
  font-size: 16px;
}
.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  /* background-color: #333333; */
  min-width: 180px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}
.dropbtn i {
  position: relative;
  top: 1px;
  font-size: 20px;
}
.dropbtn i:nth-child(2) {
  font-size: 15px;
  padding-left: 5px;
}
.dropdown-content .link-center {
  margin: 0 40px 0 65px;
  background-color: #585555;
}
.dropdown-content a {
  float: none;
  padding: 20px 20px;
  text-decoration: none;
  display: block;

  font-size: 12px;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.hero-section {
  height: 650px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  /* background-color: #fff; */
}
.hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  letter-spacing: 2px;
}
.hero p {
  letter-spacing: 2px;
  font-size: 20px;
}
.about-btn {
  padding: 10px 30px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  position: relative;
  transition: 500ms;
  cursor: pointer;
}
.about-btn .abt-n {
  color: var(--personal-color-1);
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.about-btn:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: var(--personal-color-1);
  box-shadow: 0 0 1px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255);
}

.about-btn .top,
.left,
.bottom,
.right {
  transition: 500ms;
  position: absolute;
  background-color: var(--personal-color-1);
  box-shadow: 0 0 15px rgb(255, 255, rgb(255, 255, 255)),
    0 0 30px rgb(255, 255, 255), 0 0 50px rgb(255, 255, 255);
}

.about-btn .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.about-btn .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.about-btn .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.about-btn .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.about-btn:hover .abt-n {
  color: var(--personal-color-4);
}
.about-btn:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-btn:hover .top,
.about-btn:hover .bottom {
  width: 100%;
}

.about-btn:hover .left,
.about-btn:hover .right {
  height: 100%;
}
.about-container {
  margin-top: 40px;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.about-content:nth-child(1) {
  margin-bottom: 50px;
}
.about-content:nth-child(2) {
  max-width: 1400px;
  display: flex;
  gap: 2rem;
}
.about-content h1 {
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 20px;
}
.detail-1 {
  letter-spacing: 2px;
  font-size: clamp(1.0625rem, 0.725rem + 0.6vw, 1.25rem);
  margin-bottom: 20px;
  line-height: 30px;
}
.about-container img {
  max-width: 450px;
  width: 100%;
}
.about-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--personal-color-3-3);
  max-width: 400px;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 2px solid var(--personal-color-1);
}
.about-text {
  max-width: 1400px;
  width: 100%;
}
.about-text h5 {
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 20px;
}
.about-text:nth-child(1) {
  margin-bottom: 40px;
}
.skill-detail {
  margin-bottom: 20px;
}
.about-text p {
  letter-spacing: 2px;
  line-height: 30px;
}

.profile-info {
  margin-bottom: 40px;
}
.profile-info span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* .comm-info span p, */
.profile-info span p {
  margin-left: 10px;
}
.about-skill {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 3rem;
}
.about-skill .skill-field {
  max-width: 400px;
  width: 100%;
  padding: 10px 10px 20px;
  background-color: var(--personal-color-3-3);
  text-align: center;
}
.skill-field h4,
.skill-field p {
  margin-bottom: 20px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.skill-img {
  /* height: 200px; */
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #50484800;
  border: 1px solid var(--personal-color-1);
}
.skill-img:hover {
  p {
    display: block;
  }
  img {
    display: none;
  }
}
.skill-img img {
  width: 80px;
  height: 100px;
  padding-bottom: 10px;
}

.skill-img p {
  margin-top: 10px;
  display: none;
  height: 70px;
}
.skill-img .icon-adjust {
  width: 100px;
}
.software-field {
  margin: 0 20px;
  padding: 20px;
}

.software-field .skill .skill-img {
  text-align: center;
}
/*
.comm-info .comm-skill-container div {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.comm-info .wv div p {
  display: flex;
  align-items: center;
} */

/* .bar.menu {
  display: none;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--personal-color-6);
} */

/* .bar.menu ul {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; 
  gap: 2rem;
}
.bar.menu ul li a {
  color: var(--personal-color-5);
  padding: 10px 0;
} */

.btn {
  color: rgb(29, 28, 28);
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  border: 1px solid #00000000;
  cursor: pointer;
  transition: transform 0.1s;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.1em);
}
.bar {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--personal-color-6);
  max-width: 1400px;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bar p {
  color: var(--personal-color-4);
  font-weight: 600;
  /* text-shadow: ; */
}
.bar.bar-menu {
  max-width: 1400px;
  width: 100%;
  height: 30px;
  background: transparent;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: end;
  padding: 0 70px;
  gap: 1rem;
}
.bar .bar-buttons {
  background-color: var(--personal-color-7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-right: 20px solid rgb(65, 66, 65);
  border-left: 20px solid rgb(65, 66, 65);
  border-bottom: 5px solid rgb(65, 66, 65);
}
.bar .bar-buttons .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar .bar-buttons .social-icons a {
  border-right: 1px solid #a0a0a0;
  padding: 10px 20px;
}
.bar .bar-buttons .social-icons a:hover {
  background-color: #1de4a1;

  i {
    color: black;
  }
}
.bar-buttons.power {
  z-index: 3;
  border-right: 10px solid rgb(65, 66, 65);
  border-left: 10px solid rgb(65, 66, 65);
}
.bar-buttons button {
  border: none;
  padding: 10px;
  background-color: rgb(49, 179, 49);
  cursor: pointer;
}
.bar-buttons button:hover {
  background-color: rgb(134, 40, 40);
  i {
    color: #909790;
  }
}
.bar-buttons button i {
  color: var(--personal-color-4);
}
.off-screen {
  display: none;
}
.bar-buttons.off-screen {
  background-color: #252725;
  width: 100%;
  display: none;
  text-align: center;
  border: none;
}
.bar-buttons.off-screen button {
  border-radius: 50%;
  padding: 15px;
  border: 10px solid var(--personal-color-1-1);
}

.keyboard {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  background-color: rgb(73, 71, 71);
  height: 180px;
  transform: perspective(20px) rotateX(1deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.keyboard-wd {
  max-width: 1305px;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(73, 71, 71);
  /* border-top: 1px solid black; */
}
.first-keys {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.first-keys:nth-child(2) {
  justify-content: left;
  padding: 0 100px;
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(250, 4%, 39%) 0%,
    hsl(250, 4%, 49%) 8%,
    hsl(250, 4%, 39%) 92%,
    hsl(250, 4%, 29%) 100%
  );
}
.front {
  display: block;
  position: relative;
  border-radius: 8px;
  /* background: hsl(270, 25%, 98%); */
  background: var(--personal-color-7);
  padding: 15px;
  color: rgb(41, 44, 44);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.first-keys:nth-child(2) .front {
  padding: 10px 15px;
  font-size: 12px;
}
.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
/* .keys.rt-shadow:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 20px;
  background: #319234;
  transform: rotate(0deg) skewY(45deg);
} */
/* header button {
  border: none;
  background-color: #292828;
  cursor: pointer;
} */
@media screen and (max-width: 850px) {
  body {
    background-color: var(--personal-color-3);
    padding: 0;
  }
  nav {
    margin-top: 50px;
  }
  nav .logo {
    display: none;
  }
  .hamburger {
    display: block;
    /* padding-top: 5px; */
  }
  .keyboard,
  .keyboard-wd {
    display: none;
  }
  .com-screen {
    border: none;
    height: 105vh;
  }

  .hero-section {
    height: 800px;
  }
  .bar.bar-menu {
    display: none;
  }
  .bar-buttons.off-screen {
    padding-top: 12px;
  }
  .about-content:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-text {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .bar-buttons.off-screen {
    display: block;
  }
  .detail-1,
  .skill-detail {
    font-size: clamp(0.875rem, 0.7618rem + 0.566vw, 1.0625rem);
  }

  .comm-skill-tag h3,
  .comm-skill-tag p {
    font-size: clamp(0.75rem, 0.6745rem + 0.3774vw, 0.875rem);
  }
}
@media screen and (min-width: 850px) {
  .side-bar {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .comm-skill-container {
    flex-direction: column;
    align-items: start;
  }
  .comm-skill-tag {
    align-items: start;
    justify-content: start;
  }
}
@media screen and (max-width: 650px) {
  .hero-section {
    height: 900px;
  }
  .about-skill {
    flex-direction: column;
    align-items: center;
  }
  /* .bar.menu {
    display: none;
  } */
}
@media screen and (max-width: 450px) {
  body {
    padding: 0;
  }
  /* .com-screen {
    height: 104vh;
    border: none;
  } */
  section {
    padding: 10px;
  }
  .hero-section {
    padding: 0 10px;
  }
  nav {
    padding: 0 10px;
  }
}
/* @media screen and (max-height: 850px) {
  legend {
    transform: translate(-60%, 3750%);
  }
} */
